.div_nav {
    background-color: #155C3A;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Segoe UI;
    justify-content: space-around;
}

body{
    background-color: oldlace;
}

.logo_nav{
color: green;
margin: 0px 800px 10px 70px;
}

/* calculadora financeira */

input{
border-radius: 7px;
width: 250px;
height: 25px;
text-align: center;
}

button {
    margin: 20px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    color: white;
    background-color: darkgreen;
    border: black 2px solid;
    justify-items: center;
}

/* login */

.container {
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-evenly;
    font-family: Segoe UI;
}

.div_conteudo {
    width: 1000px;
    height: fit-content;
    text-align: center;
    background-color: #267652a0;
    border-radius: 10px;
    border: 2px black solid;
}

#div_resultado {
    margin: 5px 30px 30px 30px;
    width: 940px;
    font-size: large;
}

.result_positivo {
    color: blue;
    font-weight: bold;
}





