body {
    background: #F7EDE1;
    background: radial-gradient(circle, rgba(247, 237, 225, 1) 43%, rgba(162, 205, 166, 1) 86%, rgba(130, 186, 133, 1) 100%);
    font-family: "Exo 2", sans-serif;
}

#container {
    width: 40%;
    margin: 50px auto;
    text-align: center;
    border: 2px black solid;
    height: 500px;
}

h1 {
    color: black;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #416B44;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #2e3f2f;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}